.clear {
	clear: both;
}

#user_info {
	background: #CCDACA;
	border: #000000;
}

body {
	background: #EBEEE2;
}

#content {
	background: #FFF;
}

#footer {
	text-align: center;
	color: #AAA;
}

#main {
	margin-top: 5px;
}

li.bookmark {
	line-height: 18px;
	margin-bottom: 10px;
	list-style: none;
	border-bottom: 1px solid #CCC;
}

a {
	color: #204D84;
}

p.beware {
	color: red;
	font-weight: bold;
}

span.description, span.added_on  {
	font-size: 12px;
	color: #555;
}

span.private {
	font-size: 12px;
	color: orange;
	font-weight: bold;
}

span.tags a {
	font-size: 10px;
	color: #888;
}

span.tags a:hover {
	text-decoration: underline;
}

span.author a {
	font-size: 12px;
	color: #ED4811;
	text-decoration: none;
}
span.author a:hover {
	text-decoration: underline;
}

.tag_css1 { font-size: 1.0em; }
.tag_css2 { font-size: 1.2em; }
.tag_css3 { font-size: 1.4em; }
.tag_css4 { font-size: 1.6em; }

.tags {
	text-align: center;
}

#graph {
	width: 300px;
	height: 200px;
}