.clear {
	clear: both;
}

#user_info {
	background: #CCDACA;
	border: #000000;
}

body {
	background: #EBEEE2;
}

#content {
	background: #FFF;
}

#footer {
	text-align: center;
	color: #AAA;
}

#main {
	margin-top: 5px;
}

li.bookmark {
	line-height: 18px;
	margin-bottom: 10px;
	list-style: none;
	border-bottom: 1px solid #CCC;
}

span.description, span.added_on  {
	font-size: 12px;
	color: #555;
}

span.private {
	font-size: 12px;
	color: orange;
	font-weight: bold;
}

span.tags a {
	font-size: 10px;
	color: #888;
}

span.tags a:hover {
	text-decoration: underline;
}

span.author a {
	font-size: 12px;
	color: #ED4811;
	text-decoration: none;
}
span.author a:hover {
	text-decoration: underline;
}