* {
	font-family: 'Molengo', 'Adobe Caslon Pro', 'Hoefler Text', Garamond, serif;;
}

h1, h2, h3, h4, h5 {
	font-family: 'Myriad Pro', Corbel, 'Helvetica Neue', Helvetica, 'Lucida Grande', Verdana, sans-serif;
}

.clear {
	clear: both;
}

#user_info {
	background: #CCDACA;
	border: #000000;
}

body {
	background: #333;
}

#content {
	background: #FFF;
}

#footer {
	text-align: center;
	color: #AAA;
}

#main {
	margin-top: 5px;
}

#banner {
	background: #FFF;
}

#menu {
	background: #FFF;
}

#content {
	background: #F5FFFC;
	padding: 5px;
}

#content-box {
	padding-right: -20px;
}

#sidebar {
	background: #CBD6D0;
	padding: 5px;
}

#content h1, #content h2, #content h3 {
	color: #417488;
}

#menu a {
	color: #417488;
}

div.bookmark {
	background: #FFF;
	line-height: 18px;
	margin-bottom: 10px;
	list-style: none;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;
	
	padding: 3px;
	margin: 5px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
}

div.bookmark a.title {
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
}

div.bookmark div.author_grav {
	float: right;
	margin-top: -3px;
	margin-right: -3px;
	width: 40px;
	margin-left: 5px;
}

div.bookmark div.link {
	background: #123840;
	margin: -3px;
	padding: 3px;
	margin-bottom: 5px;
}

div.bookmark div.link span.date, div#sidebar span.date {
	color: #FFF;
	font-style: italic;
	font-size: 8pt;
}

div.bookmark div.desc {
	color: #333;
	margin: 5px;
}

div.bookmark div.post_tags {
	margin-left: 20px;
}
div.bookmark div.post_tags img {
	position: relative;
	top: 4px;
	margin-right: -5px;
	margin-left: 3px;
}

div.bookmark div.post_tags a {
	font-weight: bold;
	font-size: 12px;
	color: #417488;
	text-decoration: none;
}

a {
	color: #204D84;
}

p.beware {
	color: red;
	font-weight: bold;
}

span.description, span.added_on  {
	font-size: 12px;
	color: #555;
}

span.private {
	font-size: 12px;
	color: orange;
	font-weight: bold;
}

span.tags a {
	font-size: 10px;
	color: #888;
}

span.tags a:hover {
	text-decoration: underline;
}

span.manage a {
	color: #ED4811;
	text-decoration: none;
}

span.author a {
	font-size: 12px;
	color: #ED4811;
	text-decoration: none;
}
span.author a:hover {
	text-decoration: underline;
}

span.follow {
	
}

span.follow a {
	text-decoration :none;
	color: #ED4811;
	font-size: 9pt;
	vertical-align: super;
}

.tag_css1 { font-size: 1.0em; }
.tag_css2 { font-size: 1.2em; }
.tag_css3 { font-size: 1.4em; }
.tag_css4 { font-size: 1.6em; }

.tags {
	text-align: center;
}

#banner h1 a {
	color: #333;
	text-decoration: none;
	font-family: times;
	letter-spacing: 0.2em;
}
.banner {
	padding: 5px;
}

#graph {
	width: 300px;
	height: 200px;
}

#sidebar h3.sidebar {
	font-weight: normal;
	margin-bottom: 3px;
}

#sidebar h4.sidebar {
	font-size: 11pt;
	font-weight: normal;
	padding:0 ;
	margin: 0;
	margin-top: 10px;
}

#sidebar div.last_posts {
	list-style: none;
	margin: 0;
}
#sidebar div.last_post li {
	margin: 0;
	margin-top: -5px;
	padding: 0;
}
#sidebar div.last_posts a {
	font-size: 10pt;
}
#sidebar div.last_post_more a {
	font-size: 10pt;
	text-decoration: none;
	color: #ED4811;
}
#sidebar div.last_posts span.post_tags a {
	font-weight: bold;
	font-size: 8pt;
	font-style: italic;
	color: #ED4811;
	text-decoration: none;
}