.clear {
	clear: both;
}

#user_info {
	background: #CCDACA;
	border: #000000;
}

body {
	background: #EBEEE2;
}

#content {
	background: #FFF;
}

#footer {
	text-align: center;
	color: #AAA;
}

#main {
	margin-top: 5px;
}

span.description, span.added_on  {
	font-size: 12px;
	color: #555;
}

span.private {
	font-size: 12px;
	color: orange;
	font-weight: bold;
}

span.tags {
	font-size: 10px;
	color: #888;
}