* {
	font-family: 'Molengo', 'Adobe Caslon Pro', 'Hoefler Text', Garamond, serif;
}

h1, h2, h3, h4, h5 {
	font-family: 'Myriad Pro', Corbel, 'Helvetica Neue', Helvetica, 'Lucida Grande', Verdana, sans-serif;
}

.clear {
	clear: both;
}

#user_info {
	background: #CCDACA;
	border: #000000;
}

body {
	background: #333;
}

#content {
	background: #FFF;
	padding: 5px;
}

#footer {
	text-align: center;
	color: #FFF;
	background: #417488;
	font-family: 'Myriad Pro', Corbel, 'Helvetica Neue', Helvetica, 'Lucida Grande', Verdana, sans-serif;
}
#footer div.footer-box {
	padding: 10px;
}

#main {
	margin-top: 5px;
}

#banner {
	background: #417488;
}

#menu {
	background: #417488;
	margin-bottom: 0;
}

#content-box {
	padding-right: 0px;
	margin-left: 0;
}

.box {
	background: #FFF;
	margin-left: 10px;
	margin-right: 10px;
}

#sidebar {
	background: #FFF;
	padding: 5px;
	border: 1px solid #333;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
#sidebar_grid {
	margin-right: 0px;
}

#content h1, #content h2, #content h3 {
	color: #417488;
}

#menu a {
	color: #FFF;
	text-decoration: none;
	margin-right: 5px;
	margin-bottom: 0;
	padding: 3px;
	font-family: 'Myriad Pro', Corbel, 'Helvetica Neue', Helvetica, 'Lucida Grande', Verdana, sans-serif;
}
#menu a:hover {
	color: #417488;
	background: #FFF;
}

div.bookmark {
	background: #FFF;
	line-height: 18px;
	margin-bottom: 10px;
	list-style: none;
	border-bottom: 1px solid #CCC;
	border-right: 1px solid #CCC;
	border-left: 1px solid #CCC;
	
	padding: 3px;
	margin: 5px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	margin-bottom: 10px;
}

div.bookmark a.title {
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
}

div.bookmark div.author_grav {
	float: right;
	margin-top: -3px;
	margin-right: -3px;
	width: 40px;
	margin-left: 5px;
}

div.bookmark div.author_grav a {
	color: #417488;
}

div.bookmark div.link {
	background: #123840;
	margin: -3px;
	padding: 3px;
	margin-bottom: 5px;
}

div.bookmark div.link span.date, div#sidebar span.date {
	color: #FFF;
	font-style: italic;
	font-size: 8pt;
}

div.bookmark div.desc {
	color: #333;
	margin: 5px;
}

div.bookmark div.post_tags {
	margin-left: 20px;
}
div.bookmark div.post_tags span.tag {
	white-space: nowrap;
}
div.bookmark div.post_tags img {
	position: relative;
	top: 4px;
	margin-right: -5px;
	margin-left: 3px;
}

div.bookmark div.post_tags a {
	font-weight: bold;
	font-size: 12px;
	color: #417488;
	text-decoration: none;
}

a {
	color: #204D84;
}

p.beware {
	color: red;
	font-weight: bold;
}

span.description, span.added_on  {
	font-size: 12px;
	color: #555;
}

span.private {
	font-size: 12px;
	color: orange;
	font-weight: bold;
}

span.tags a {
	font-size: 10px;
	color: #888;
}

span.tags a:hover {
	text-decoration: underline;
}

span.manage a {
	color: #ED4811;
	text-decoration: none;
}

span.author a {
	font-size: 12px;
	color: #ED4811;
	text-decoration: none;
}
span.author a:hover {
	text-decoration: underline;
}

span.follow {
	
}

span.follow a {
	text-decoration :none;
	color: #ED4811;
	font-size: 9pt;
	vertical-align: super;
}

.tag_css1 { font-size: 0.8em; }
.tag_css2 { font-size: 0.9em; }
.tag_css3 { font-size: 1.1em; }
.tag_css4 { font-size: 1.4em; }

#content div.tags {
	width: 90%;
}
#sidebar div.tags {
	width: 80%;
}

div.tags a {
	text-decoration: none;
}

div.tags span.tag {
	white-space: nowrap;
}

div.tags img {
	position: relative;
	top: 4px;
	margin-right: -5px;
	margin-left: 3px;
}

.tags {
	text-align: center;
}

#banner h1 a {
	color: #FFF;
	text-decoration: none;
	font-family: times;
	font-size: 24pt;
	letter-spacing: 0.4em;
}
.banner {
	padding: 5px;
}

#graph {
	width: 300px;
	height: 200px;
}

#sidebar div.sidebar {
	font-weight: normal;
	background: #123840;
	margin: -6px;
	padding: 3px;
	margin-bottom: 5px;
	font-size: 12pt;
	color: #FFF;
	font-family: 'Myriad Pro', Corbel, 'Helvetica Neue', Helvetica, 'Lucida Grande', Verdana, sans-serif;
}

#sidebar div.side_bar_tags {
	margin-bottom: 5px;
}

#sidebar h4.sidebar {
	font-size: 11pt;
	font-weight: normal;
	padding:0 ;
	margin: 0;
	margin-top: 10px;
}

#sidebar div.last_posts {
	list-style: none;
	margin: 0;
}
#sidebar div.last_post li {
	margin: 0;
	margin-top: -5px;
	padding: 0;
}
#sidebar div.last_posts a {
	font-size: 10pt;
}
#sidebar div.last_post_more a {
	font-size: 10pt;
	text-decoration: none;
	color: #ED4811;
}
#sidebar div.last_posts span.post_tags a {
	font-weight: bold;
	font-size: 8pt;
	font-style: italic;
	color: #ED4811;
	text-decoration: none;
}
#sidebar h4.sidebar a {
	font-family: 'Myriad Pro', Corbel, 'Helvetica Neue', Helvetica, 'Lucida Grande', Verdana, sans-serif;
}

#footer a {
	color: #FFF;
	font-family: 'Myriad Pro', Corbel, 'Helvetica Neue', Helvetica, 'Lucida Grande', Verdana, sans-serif;
}