- group.users.each do |person|
  = link_to image_tag("http://www.gravatar.com/avatar/#{person.hash}?s=20", :alt => person.name), {:controller => "/posts", :action => :index, :username => person.name}, {:title => person.name, :alt => person.name}