%div
  %h2
    - if params[:username]
      - if current_user && (current_user.name == params[:username])
        Your groups
      - else
        = params[:username] + "'s groups "
    - else
      Groups

  %div.groups
    - @groups.each do |group|
      %div.bookmark
        = render "groups/group_short", :group => group