.tags
  - cache(:action => 'index', :action_suffix => "all_tags", :expires_in => 30.minute) do
    - tag_cloud_limited(tags, %w(tag_css1 tag_css2 tag_css3 tag_css4), 20) do |tag, css_class|
      %span.tag
        = image_tag("/images/icons/tag-small.png")
        = link_to tag.name, { :controller => "/posts", :action => "index", :tag => tag.name, :all_users => true }, :class => css_class