%div
  %p.beware This is beta software, if you want to use please do, and report any error throught https://github.com/mcansky/mjolk/issues WARNING : DATA MIGHT BE ERASED every now and then (until otherwise said). Use at your own risk !
  %p.beware
    = params[:notice]

  %h2 Last 20 bookmarks

  - if current_user
    - cache(:fragment => "last_20_posts", :expires_in => 3.minute) do
      %div.posts
      - @posts.each do |post|
        %div.bookmark
          = render "/posts/short_post", :post => post
  - else
    - cache(:fragment => "last_20_posts_public", :expires_in => 3.minute) do
      %div.posts
      - @posts.each do |post|
        %div.bookmark
          = render "/posts/short_post", :post => post
