.grid_15
  %p.beware This is beta software, if you want to use please do, and report any error throught https://github.com/mcansky/mjolk/issues WARNING : DATA MIGHT BE ERASED every now and then (until otherwise said). Use at your own risk !
  %p.beware
    = params[:notice]

  %h1 Last 20 bookmarks

  - if current_user
    - cache(:action => 'index', :action_suffix => 'last_20_posts', :expires_in => 10.minute) do
      %ul
      - @posts.each do |post|
        %li.bookmark
          = render "/posts/short_post", :post => post
  - else
    - cache(:action => 'index', :action_suffix => 'public_last_20_posts', :expires_in => 10.minute) do
      %ul
      - @posts.each do |post|
        %li.bookmark
          = render "/posts/short_post", :post => post