.grid_15
  %p.beware This is alpha software, if you want to use please do, and report any error throught https://github.com/mcansky/altelicious/issues WARNING : DATA MIGHT BE ERASED every now and then (until otherwise said). Use at your own risk !

  %h1 Last 20 bookmarks

  %ul
  - @posts.each do |post|
    %li.bookmark
      = render "/posts/short_post", :post => post
