.grid_15.prefix_1

  - cache(:action => 'index', :action_suffix => 'stats', :expires_in => 12.hour) do
    %h1 Stats
    .grid_8.prefix_1.alpha
      #placeholder{:style => "width:700px;height:300px;"}
      .clear
      =javascript_include_tag "stats"